In [187]:
import pandas as pd

In [234]:
data = pd.read_csv("german_numeric.csv")
data_cat = pd.read_csv("german.csv")
#Data is loosing categories - code our own

In [235]:
data_cat.iloc[0,:]

0      A11
1        6
2      A34
3      A43
4     1169
5      A65
6      A75
7        4
8      A93
9     A101
10       4
11    A121
12      67
13    A143
14    A152
15       2
16    A173
17       1
18    A192
19    A201
20       1
Name: 0, dtype: object

In [236]:
# create a boolean mask that is True where the column contains the desired value
mask = data_cat['3'] == 'A410'

# select the rows of the dataframe that have the desired value in the column
indexes = data_cat.index[mask].tolist()

In [237]:
indexes

[72, 83, 105, 287, 310, 374, 431, 442, 594, 665, 818, 915]

In [238]:
from sklearn.preprocessing import LabelEncoder

# assume your dataframe is called 'df'
categorical_cols = ['0', '2', '3', '5', '6', '8', '9', '11', '13', '14', '16', '18', '19']
numeric_cols = ['1', '4', '7', '10', '12', '15', '17']

# perform label encoding on categorical columns
le = LabelEncoder()
for col in categorical_cols:
    data_cat[col] = le.fit_transform(data_cat[col])

In [239]:
data_cat.iloc[:,19].value_counts()

0    963
1     37
Name: 19, dtype: int64

### Scale Data

In [240]:
# get a summary of statistics for all numeric columns
summary = data_cat.describe()

# transpose the summary dataframe to switch rows and columns
summary = summary.transpose()

# select the mean, min, and max columns
#summary = summary[['mean', 'min', 'max']]
summary_pd = pd.DataFrame(summary)

# print the summary dataframe
summary_pd

     count      mean          std    min     25%     50%      75%      max
0   1000.0     1.577     1.257638    0.0     0.0     1.0     3.00      3.0
1   1000.0    20.903    12.058814    4.0    12.0    18.0    24.00     72.0
2   1000.0     2.545     1.083120    0.0     2.0     2.0     4.00      4.0
3   1000.0     3.277     2.739302    0.0     1.0     3.0     4.00      9.0
4   1000.0  3271.258  2822.736876  250.0  1365.5  2319.5  3972.25  18424.0
5   1000.0     1.105     1.580023    0.0     0.0     0.0     2.00      4.0
6   1000.0     2.384     1.208306    0.0     2.0     2.0     4.00      4.0
7   1000.0     2.973     1.118715    1.0     2.0     3.0     4.00      4.0
8   1000.0     1.682     0.708080    0.0     1.0     2.0     2.00      3.0
9   1000.0     0.145     0.477706    0.0     0.0     0.0     0.00      2.0
10  1000.0     2.845     1.103718    1.0     2.0     3.0     4.00      4.0
11  1000.0     1.358     1.050209    0.0     0.0     1.0     2.00      3.0
12  1000.0    35.546    11.375469   19.0    27.0    33.0    42.00     75.0
13  1000.0     1.675     0.705601    0.0     2.0     2.0     2.00      2.0
14  1000.0     0.929     0.531264    0.0     1.0     1.0     1.00      2.0
15  1000.0     1.407     0.577654    1.0     1.0     1.0     2.00      4.0
16  1000.0     1.904     0.653614    0.0     2.0     2.0     2.00      3.0
17  1000.0     1.155     0.362086    1.0     1.0     1.0     1.00      2.0
18  1000.0     0.404     0.490943    0.0     0.0     0.0     1.00      1.0
19  1000.0     0.037     0.188856    0.0     0.0     0.0     0.00      1.0
20  1000.0     1.300     0.458487    1.0     1.0     1.0     2.00      2.0

In [241]:
summary_pd['25%'][1]

12.0

In [242]:
print(data_cat.isna().any())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
dtype: bool

In [243]:
#if<25% -> 0, if <50% -> 1, if <75% -> 2, else 3
#1
thresholds1 = [summary_pd['min'][1]-1,summary_pd['25%'][1], summary_pd['50%'][1], summary_pd['75%'][1], summary_pd['max'][1]+1]

# Use cut() to create the categorical column
data_cat['1'] = pd.cut(data_cat['1'], bins=thresholds1, labels=[0, 1, 2, 3])
#4
thresholds4 = [summary_pd['min'][4]-1,summary_pd['25%'][4], summary_pd['50%'][4], summary_pd['75%'][4], summary_pd['max'][4]+1]
data_cat['4'] = pd.cut(data_cat['4'], bins=thresholds4, labels=[0, 1, 2, 3])
#12
thresholds12 = [summary_pd['min'][12]-1,summary_pd['25%'][12], summary_pd['50%'][12], summary_pd['75%'][12], summary_pd['max'][12]+1]
data_cat['12'] = pd.cut(data_cat['12'], bins=thresholds12, labels=[0, 1, 2, 3])

In [244]:
print(data_cat.isna().any())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
dtype: bool

In [246]:
data_cat.to_csv('german_encoded.csv', index=False)